<div
  class="tile__body feature-trash"
  data-role="trash-calendar"
  data-refresh-after-seconds="{{ trash_calendar.refresh_after_seconds }}"
>
  <div class="feature-trash__date">
    {{ trash_calendar.date_label }}（{{ trash_calendar.weekday_label }}）
  </div>
  {% if trash_calendar["is_empty"] %}
  <div class="feature-trash__empty">回収なし</div>
  {% else %}
  <ul class="feature-trash__items">
    {% for item in trash_calendar["items"] %}
    <li class="feature-trash__item">
      <span class="feature-trash__icon" aria-hidden="true">{{ item.icon }}</span>
      <span class="feature-trash__label">{{ item.label }}</span>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
